-e git+https://github.com/Jerm0nt/python.git@f6968c20300cff2176dc8627f8b951520549d69b#egg=220121_HTTP_Server_Client&subdirectory=220121_HTTP_Server_Client
aiohttp==3.7.4.post0
appdirs==1.4.4
async-timeout==3.0.1
attrs==21.4.0
autopep8==1.6.0
beautifulsoup4==4.10.0
black==21.11b1
bs4==0.0.1
certifi==2022.5.18
chardet==4.0.0
charset-normalizer==2.0.8
click==8.0.3
declxml==1.1.3
discord.py==1.7.3
distlib==0.3.1
filelock==3.0.12
idna==3.3
multidict==6.0.2
mypy-extensions==0.4.3
numpy==1.21.4
pathspec==0.9.0
platformdirs==2.4.0
pycodestyle==2.8.0
python-dotenv==0.20.0
regex==2021.11.10
requests==2.26.0
six==1.15.0
soupsieve==2.3.1
toml==0.10.2
tomli==1.2.2
typing==3.7.4.3
typing_extensions==4.0.0
urllib3==1.26.7
virtualenv==20.4.3
yarl==1.7.2
